{
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "../.eslintrc",
    "rules": {
        "prefer-arrow-callback": "off",
        "global-require": "off",
        "no-invalid-this": "off",
        "no-empty-function": "off",
        "max-lines": "off"
    }
}
